<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Join Catbox Server</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ url_for('static', filename="javascript/socket.io.dev.js")}}"></script>
    <script src="{{ url_for('static', filename="javascript/catbox.js")}"></script>
  </head>
  <body>
	
	<!-- connection form -->
    <form id="connection_form" action="" method="POST">
      <input type="text" id="connection_username" placeholder="Username"/>
      <input type="text" id="connection_code" placeholder="Room code"/>
      <input type="submit"/>
    </form>
	
  </body>
</html>
