<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Join As A Table</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/socketio/socket.io.dev.js"></script>
    <script type="text/javascript" src="/static/js/catbox.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/colors.css">
    <link rel="stylesheet" type="text/css" href="static/css/join_page.css">
    <script>
        socket.emit("join", {
            code: {{ code }},
            username: {{ table }},
        });
    </script>
  </head>

  <body>
      <h1>Creating game... please wait a moment</h1>
  </body>
</html>
